# Pycharm project files
.idea/

# VSCode workspace
*.code-workspace
*.vscode

# Local package cache files
*.pyc
*.egg-info

# Jupyter notebook check points
*/.ipynb_checkpoints/

# Directories in the repository
data/
figures/
